@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eigen styling */
body {
    background-color: #000; /* zwart */
    color: #fff; /* witte tekst zodat je iets ziet */
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}

nav {
    display: flex;
    gap: 20px;
    padding: 16px;
    background-color: #110139;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.home-page {
    display: flex;

    align-items: center;
    gap: 20px;
    padding: 40px;
}
